.App {
  background-color: #0264E7;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
 

}
.App-1:hover {
  box-shadow: 0 30px 70px #000;
  transform: scale3d(1.05, 1.05, 1.05);
}

.App-1 {
  margin-top: 5px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  border: 2px solid;
  border-radius: 15px;
  background-color: white;
  padding: 10px 60px;
  gap: opx;


}

.head {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

.price {
  font-size: 55px;
  font-weight: bold;
  margin-top: 1px;
  margin-bottom: 1px;
  
}

.line {
  border-top: 1px solid black;
  margin-top: 1px;
}
.price1 {
  display: flex;
  align-items: center;
  margin-top: 1px;
}

button {
  background-color: #0264E7;
  color: white;
  padding: 20px;
  border-radius: 30px;
  border: none;
}

button:hover {
  box-shadow: 0 30px 70px #000;
  transform: scale3d(1.05, 1.05, 1.05);
}